.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.registerF{
  display: flex;
  justify-content: center;
}

.btnArea{
  width: 40%;
  margin: 7.5em ;
  padding: 2em 20em 7em 20em;
  border: 0.2em solid black;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
}

Body{
  background-image: url('./Images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h2{
  font-size: 3.3em;
  color: #000000a6;
}

.warn{
  color: red;
}

.skill{
  display: flex;
  justify-content: center;
  font-weight:bold;
  font-size: larger;

}

